<% provide(:title, 'Help')  %>
<!DOCTYPE html>
    <h1>Help</h1>
    <p>
    	This is a Help Page for the</p>
        <a href="http://railstutorial.org/">Ruby on Rails Tutorial</a>
    	sample application.
  </body>
</html>
